<div class="container p-3">
  <div class="title-page">
      <h2>Agregar Usuario</h2>
  </div>
      <div class="form">
        <form action="" class="p-3" >
    
          <div class="row">
            <div class="col p-3">
              <div class="form-group">
                <label>Nombre Completo</label>
                <input type="text" class="form-control"  [(ngModel)]="user.nombre" name="nombre" #UserName>
              </div>
            </div>
            <div class="col p-3">
              <div class="form-group">
                <label>Nombre de usuario</label>
                <input type="text" class="form-control"[(ngModel)]="user.userName" name="userName" #UserName>
              </div>
            </div>
          </div>
    
          <div class="row">
            <div class="col p-3">
              <div class="form-group">
                <label>Rol</label>
                <select name="" id="" class="form-select" [(ngModel)]="user.rol" name="rol" #UserRol>
                  <option value="Admin" >Admin</option>
                  <option value="Estandar" >Estandar</option>
                </select>
              </div>
            </div>
            <div class="col p-3">
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #Userpassword>
              </div>
            </div>
          </div>
  
          <div class="row">
              <div class="col p-3">
                <div class="form-group">
                  <label>Correo</label>
                  <input type="text" class="form-control" [(ngModel)]="user.correo" name="correo" #UserCorreo>
                </div>
              </div>
            </div>
          <br>
          <button type="submit" class="btn btn-danger btn-lg btn-block" (click)="Register(UserCorreo.value, Userpassword.value)">Guadar</button>
    
        </form>
    
      </div>
    </div>
