// * {
//     margin: 0;
//     padding: 0;
//     text-decoration: none;
//     list-style: none;
//     // font-family: 'Quicksand', sans-serif;
// }

*{
    text-decoration: none;
}

header {
    i {
        padding-right: 10px;
    }
}

.header-1 {
    background-color: #000;
    padding: 30px;
    color: #fff;
    font-weight: 900;
    font-family: 'Bebas Neue', cursive;

    h1 {
        font-size: 50px;
        text-align: center;
    }

    span {
        letter-spacing: 4px;
    }

    .azul {
        color: blue;
    }

    .rojo {
        color: red;
    }
}

.menu {
    width: 100%;
    background-color: red;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
}

.container {
    margin: 0 auto;
}


.menu ul {
    display: flex;
   
}

.menu ul li {
    flex: auto;
    text-align: center;
    transition: background-color 2s;
}

.menu ul li a {
    color: #fff;
    font-weight: 500;
    transition: padding 1s;

    i {
        padding-right: 10px;
        //color: #fff;
    }
}


.menu ul li a:hover {
    width: 100%;
    background-color: #fff;
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.active {
    text-decoration: underline;
}

#button {
    font-size: 20px;
    border: none;
    padding: 15px;
    background-color: black;
    color: white;
    transition: background-color 2s;
    border-radius: 20px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}

#button:hover {
    background-color: red;
    color: white;
    border-radius: 20px;
    
}

button {
    background-color: black;
    color: white;
    border-radius: 20px;
    transition: background-color 2s;
    text-align: center;
    font-size: 15px;
    border:none;
  

    i {
        margin-left: 10px;
        padding: 20px;
    }
}

button:hover {
    background-color: red;
    color: white;
    border-radius: 20px;
    border:none;
}


.btnn{
    background-color:red;
    color: white;
    width:100%;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}

#btn-azul{
    color: black;
    background-color:white;
}

#Dashboard{
    background-color:blue;
    color: white;
    width:100%;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}


