<div class="container p-3">
    <div class="">
        <div class="title-page">
            <h2>Lista de noticias</h2>
        </div>
    </div>
  <div class="buscador">
    Buscar
    <input type="text" class="input">
    <button class="button">buscar <i class="fa-solid fa-magnifying-glass"></i></button>
    <button class="button" routerLink="/dashboard/addNews/add-news">Agregar noticia <i class="fa-solid fa-plus"></i></button>
  </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">
            <table class="table table-striped">
                <thead>
                    <tr class="tr">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Fecha</th>
                        <th>Categoria</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Acciones</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of news | slice: (page-1) * pageSize : page * pageSize">
                    <tr>
                        <th scope="row">#</th>
                        <td>Noticia {{item.categoria}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.categoria}}</td>
                        <td>{{item.autor}}</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square" style="color:green"
                                routerLink="/dashboard/editNews/edit-news/{{item.id}}"></i>
                            <i class="fa-solid fa-trash" style="color:red" (click)="deleteNews(item.id)"></i>
                        </td>
                        <td>
                            <i class="fa-solid fa-eye" style="color:blue"
                                routerLink="/dashboard/detailsNews/details-news/{{item.id}}"></i>
                        </td>
                    </tr>

                </tbody>
            </table>
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="news.length"></ngb-pagination>

        </div>


    </div>
</div>