
.title-page{
    width: 100%;
    background-color: red;
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    color: white;
    
    h2{
        padding:20px;
    }
}

td {
    i {
        padding-right: 20px;
        margin: auto 0;
    }
}

