<div class="container">
    <div class="row">
        <div class="col">
            <div class="text">
                <h1>
                    <span class="azul">4</span>
                    <span class="rojo">0</span>
                    <span class="azul">4</span>
                </h1>
            </div>
        </div>
        <div class="col">
            <div class="text-t">
                <h1 class="rojo"><i class="fa-solid fa-newspaper"></i> Ups!</h1>
                <p>Pagina no encontrada</p>
                <button class="btn" routerLink="/pages/home">Inicio <i class="fa-solid fa-house"></i></button>
            </div>
        </div>
    </div>
</div>