.title-page{
    width: 100%;
    background-color: red;
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    color: white;
  
    
    h2{
        padding:20px;
        font-size: 23px;
    }
}
label {
    font-size: 15px;
    font-weight: 900;
}

button{
    width: 100%;
    background:red;
}