button{
    width: 100%;
    background:red;
}

.title-page{
    width: 100%;
    background-color: red;
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    color: white;
    
    h2{
        padding:20px;
    }
}

label{
    font-weight: 800;
    padding: 3px;
}