<div class="container p-3">
  <div class="title-page">
    <h2>Agregar noticia</h2>
 </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="CreateNews(form.value)">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Titulo "
              formControlName="titulo">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Autor</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Autor"
              formControlName="autor">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="">Descripcion</label>
          <textarea name="" id="" cols="20" rows="4" class="form-control" formControlName="description"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="">Contenido</label>
          <textarea name="" id="" cols="20" rows="4" class="form-control" formControlName="body"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Categoria</label>
            <select name="" id="" class="form-select" formControlName="categoria">
              <option [value]="category.nombre" *ngFor="let category of categoria" >{{category.nombre}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Imagen</label>
            <input class="form-control" type="date"  id="formFileMultiple" 
            formControlName="fecha"> 
          </div>
        </div>
      
        <div class="col">
          <div class="form-group">
            <label>Imagen</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple
             [value]="" (change)="handleImage($event)">
          </div>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-danger btn-lg btn-block" >Guadar</button>

    </form>

  </div>
</div>