<header>
    <div class="header-1">
        <h1>
            <i class="fa-solid fa-newspaper"></i>
            Noticias
            <span class="azul">R</span>
            <span class="rojo">D</span>
        </h1>
    </div>
</header>
<div class="sidebar" >
    <a  href="#home"><i class="fa-solid fa-house" ></i>Inicio</a>
    <a routerLink="listNews/list-news" routerLinkActive="active"><i class="fa-solid fa-newspaper" ></i>Noticias</a>
    <a routerLink="listUser/list-user" routerLinkActive="active"><i class="fa-solid fa-users"></i>Usuarios</a>
    <a routerLink="listCategoria/list-categoria" routerLinkActive="active"><i class="fa-solid fa-sliders"></i>Categoria</a>
    <a  class="abajo" (click)="singtOut()"><i class="fa-solid fa-arrow-right-from-bracket" ></i> Out</a>
  
  </div>
  
  <!-- Page content -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

