<div class="container">
    <div class="title-page">
        <h2>Detalles</h2>
    </div>
    <div class="form">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Titulo "
                            formControlName="titulo" readonly="readonly">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Autor</label>
                        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Autor"
                            formControlName="autor" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">Descripcion</label>
                    <textarea name="" id="" cols="20" rows="4" class="form-control"
                        formControlName="description" readonly="readonly"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="">Contenido</label>
                    <textarea name="" id="" cols="20" rows="6" class="form-control" formControlName="body"
                    readonly="readonly"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Categoria</label>
                        <input type="text" readonly="readonly" formControlName="categoria" class="form-control" >
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input class="form-control" id="formFileMultiple" readonly formControlName="fecha">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Imagen</label>
                         <img src="imagen" alt="" formControlName="">
                    </div>
                </div>
            </div>
            <br>
        </form>

    </div>
</div>